*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(139, 139, 139, 0.527);
}
h1{
    justify-content: center;
    align-items: center;
    display: flex;
    margin-top: 20px;
}

form{
    text-align: center;
    width: 500px;
    height: 500px;
    margin-top: 30px;
    padding: 10px;
    background: #6b6363a2;
    border-radius: 15px;
    font-size: 20px;
    box-shadow: 0 0 5px rgba(49, 18, 18, 0.911);
}
.button{
    margin-top: 20px;
    padding: 10px 20px;
    background: #3b3a3ab8;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background 0.3s ease;
}
#results{
    margin-top: 20px;
    padding: 10px;
    background: #6b6363a2;
    border-radius: 15px;
    font-size: 20px;
    box-shadow: 0 0 5px rgba(49, 18, 18, 0.911);
    
}

.button:hover {
    background: #3b3a3ab8;
    color: white;
    transform:scale(1.2);
    transition: transform 0.3s ease, background 0.3s ease;
}
#weight-guide{
    margin-top: 20px;
    padding: 10px;
    background: #6b6363a2;
    border-radius: 15px;
    font-size: 20px;
    box-shadow: 0 0 5px rgba(49, 18, 18, 0.911);
    text-align: center;
}
input{
    width: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: none;
    outline: none;
}
#notice{
    margin-top: 20px;
    padding: 10px;
    background: #6b6363a2;
    border-radius: 15px;
    font-size: 20px;
    box-shadow: 0 0 5px rgba(49, 18, 18, 0.911);
    text-align: center;
    color: white;
}